h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url("images/pattern.jpeg");
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.green-banner {
    background-color: mediumspringgreen;
}

.red-banner {
    background-color: lightcoral;
}

.blue-banner {
    background-color: skyblue;
}

.pricing-info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}